<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onizuka</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <nav> 
        <div class = "container-nav">
              Store
             <div class="cart-item">
                 <a href ="/cart">Cart <span>0</span>
                 </a>
             </div>
        </div>
    </nav>

    <main>
        <div class="container-body">
            <div class="add-item">
                <a href="/p/Add_item">New Item</a>
            </div>
            <form action="/" method="POST">
                <div class = "container-table">
                    <table class="table">
                        <tr class="table-top">
                            <td>Name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Action</td>
                        </tr>
                        <!-- <%= console.log("here data is ", users.data.Tuna[0].Name) %> -->
                        <tbody class="table-data">
                            <% for(var i = 0; i < users.data.Tuna.length; i++) { %>
                                <tr>
                                    <td class ="item-name"><%= users.data.Tuna[i].Name %></td>
                                    <td class ="item-rate"><%= users.data.Tuna[i].Rate %></td>
                                    <td class ="item-quantity"><%= users.data.Tuna[i].Quantity %></td>
                                    <td class="action-btn">
                                        <a href="#" data-prod_detail="<%= JSON.stringify(users.data.Tuna[i]) %>" class="action-btn-add"> + </a> 
                                       <!-- <button> - </button> 
                                        <button> up</button>
                                    -->   
                                    </td>
                                </tr>
                                <% } %>
                                
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        
    </main>

    <footer></footer>



<script type="text/javascript" src="js/functionality.js"> </script>
</body>
</html>